/* 

AuthN API Single Page Application sample CSS

**Based on the Ping Sample App CSS**

*/

{
	margin: 0px;
	padding: 0px;
}

body {
	background: #FEFEFE;
	margin: 0px;
    padding-top: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
}

/* Used on failedDiv */
.notice {
    display: none;
    height: 50px;
    width: 75%;
    background-color: #fffbea;
    border: 2px solid;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

/* Used on errorDiv */
.errorBanner {
    display: none;
    height: 50px;
    width: 75%;
    background-color: #ec9a99;
    border: 2px solid #a20200;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

/* Used on popUpMessage */
.popUpMessage {
    display: none;
    height: 50px;
    width: 75%;
    background-color: #62cd17;
    border: 2px solid;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.overflowAuto {
    overflow:auto
}

/* Used on loginDiv */
/*.refBox {
    display: none;
    width: 600px;
    background-color: #d8f4ff;
    border: 2px solid #75a1b2;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}*/

.refBox {
    display: none;
    /*height: 300px;*/
    width: 1000px;
    background-color: #d8f4ff;
    border: 2px solid #75a1b2;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.attributeBox {
    /*display: flex;*/
    text-align: left;
    width: 90%;
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}

.marginAbove10px {
    margin-top: 10px;
}

.marginAbove5px {
    margin-top: 5px;
    display:flex;
}

.signaturePre {
    width: 700px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */    
}

.verboseDetailHeader {
    display: flex;
    flex-direction: column;
    background-color: #f2f5f7;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.samlBox {
    display: none;
    width: 1000px;
    background-color: #f2f5f7;
    border: 2px solid #75a1b2;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;    
}

/* Used on loginDiv */
.refPostBox {
    display: none;
    height: 300px;
    width: 600px;
    background-color: #ffcc00;
    border: 2px solid #b38f00;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Used on samlResponseAttributesBox */
.sRABox {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.sSigABox {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.sStatusABox {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.sAABox {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
	background-color: #575f67;
	color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-left {
    padding-left: 20px;
}

.navbar-right {
    padding-right: 40px;
    align-self: flex-end;
}

.navtextlarge {
    font-family: proxima-nova,helvetica,arial,sans-serif;
    color:#ffffff;
    font-size: 20px;
}

.navtext {
    font-family: proxima-nova,helvetica,arial,sans-serif;
    color:#ffffff;
    font-size: 14px;
}

.navtext>a {
    color: #ffffff;
}


input[type=text] {
    width: 600px;
}

/* Used on internal elements */
.internalBoxClose {
    margin: 5px;
    text-align: center;
}

.preBoxClose {
    overflow: scroll;
    text-align: left;
    width: 950px;
    -moz-tab-size:    4; 
    -o-tab-size:      4; 
    tab-size:         4; 
}

.rawPreBox {
    overflow: scroll;
    text-align: left;
    width: 950px;
    -moz-tab-size:    4; 
    -o-tab-size:      4; 
    tab-size:         4; 
    
    
    background-color: #ffffff;
    border: 2px solid #75a1b2;
    /*padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;*/
}

.topBar {
    margin: 0px;
    justify-content: center;
    background-color: #ed7b7b;
    color: #ffffff;
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.basicDetail {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f2f5f7;
    color: #000000;
}

.internalBoxSpaced {
    margin: 20px;
    text-align: center;
}

.rightAlign {
    text-align: right;
}

.boldUl {
    text-decoration: underline;
    font-weight: bold;
}

.internalFlexBoxClose {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.centerFlexAlign {
    align-items: center;
}

.fixed450 {
    width: 450px;
}

.headerText {
    font-weight: 700;
    font-size: 24px;
}

/* Used for labels */
label {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-weight: 700;
	font-size: 13px;
	box-shadow: none;
}

/* Right aligned for labels */
.label-right {
    text-align: right;
}

/* Used for text fields */
.textItem {
    width: 300px;
    height: 35px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 400;
    font-size: 13px
    line-height: 1.5;
    padding: 2px 5px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1px;
}

.spaAlert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.spaAlert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.spaAlert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.form-control {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-weight: 100;
	font-size: 13px;
	box-shadow: none;
}

.form-control[readonly] {
	background-color:#f5f5f5;
}

p {
	line-height: 18px;
	font-size: 12px;
	text-align: justify;
	color: #808080;
}

h2 {
	line-height: 14px;
	margin-top: -10px;
	font-size: 10px;
	font-weight: normal;
}

h1 {
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
}

table {
    table-layout: fixed;
}

td {
	color: #808080;
	line-height: 18px;
	font-size: 12px;
	text-align: justify;
	vertical-align: top;
	padding-right: 20px;
    overflow: hidden;
    word-break: break-all;
}

td:nth-of-type(1) {
    width: 175px;
}

.navbar-brand {
	padding: 10px 10px;
}

.navbar-inverse {
	background-color: #123442;
	border-color: #123442;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #123442;
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #123442;
	color: #fff;
}

.jumbotron {
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.jumbotron .h1, .jumbotron h1 {
	font-size: 16px;
}

.jumbotron .p, .jumbotron p {
	font-size: 12px;
}

.header {
	width: 100%;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #123442;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.topmenu-container {
	width: 100%;
	position: relative;
	margin: 0px;
}

.topmenu {
	width: 100%;
	margin: 0px;
	height: 45px;
	background-color: #E6E6E6;
	position: relative;
	border-bottom: 1px;
}

.topmenu-content-layout {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	height: 58px;
	z-index: 100;
}

.topmenu-main {
	display: inline-block;
	height: 40px;
	width: 500px;
	max-width: 500px;
	padding-top: 7px;
	margin: auto auto;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 24px;
}

.topmenu-right {
	float: right;
	display: inline;
	height: 40px;
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	padding-right: 10px;
	padding-top: 7px;
	margin: auto auto;
	text-align: right;
}

.topmenu-right-text {
	color: #808080;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;	
	vertical-align: bottom;
}

.topmenu a {
	color: #808080;
	font-size: 12px;
	padding-top: 7px;
	letter-spacing: 1px;
}

.topmenu p {
	color: #808080;
	font-size: 12px;
	line-height: 12px;
	padding-top: 7px;
	letter-spacing: 1px;
}

.banner-container {
	width: 100%;
	position: relative;
	margin: 0px;
}

.banner {
	width: 100%;
	margin: 0px;
	height: 35px;
	background-color: #123442;
	position: relative;
}

.banner-content-layout {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	height: 48px;
}

.banner-left {
	display: inline-block;
	height: 48px;
	width: 225px;
	overflow: hidden;
	margin-bottom: 0;
}

.banner-main {
	display: inline-block;
	height: 30px;
	width: 500px;
	max-width: 500px;
	vertical-align: top;
	padding-top: 7px;
	margin: auto auto;
	text-align: left;
	overflow: hidden;
}

.banner-right {
	float: right;
	display: inline;
	height: 30px;
	width: 80px;
	min-width: 80px;
	max-width: 80px;
	padding-right: 50px;
	padding-top: 17px;
	margin: auto auto;
	text-align: right;
	z-index: 10000;
}

.powered-by-logo {
	position: absolute;
	z-index: 10000;
	margin-top: -19px;
	margin-left: 3px;
}

.banner-title-text {
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 1px;
}

.banner-right-text {
	color: #FFFFFF;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;	
	vertical-align: bottom;
}

.main-container {
	width: 100%;
	position: relative;
	margin: 0px;
}

.main {
	width: 100%;
	margin: 0px;
	height: 100%;
	background-color: #FEFEFE;
	position: relative;
}

.main-content-layout {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-content-layout-2-column-main {
	width: 580px;
	float: left;
	padding: 0 10px;
	margin: 0 auto;
}

.main-content-layout-2-column-right {
	float: right;
	width: 300px;
	padding: 0 10px;
	margin: 0 auto;
	vertical-align: top;
}

.box {
	border: 1px;
}

.footer {
	color: #E6E6E6;
	text-align: center;
	font-size: 10px;
	margin: 10px 10px;
}